.radio {
  margin: 0;
  &__item {
    position: relative;
    padding-left: 35px !important;
    margin-bottom: 0;
    margin-right: 20px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 20px;
    line-height: 22px;
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      top: 0;
      right: 0;

      &:checked {
        ~ .checkmark {
          background-color: #fff;
          border: 1px solid var(--fl-primary);
          &:after {
            display: block;
            background-color: var(--fl-primary);
          }
        }
      }
    }

    &:hover input {
      ~ .checkmark {
        background-color: #fff;
      }
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%), 0 0 0 1px rgb(63 63 68 / 10%) !important;

    &:after {
      content: '';
      position: absolute;
      display: none;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #fff;
      transform: translate(-50%, -50%);
    }
  }

  &.checkbox {
    .checkmark {
      border-radius: 2px;
      &:after {
        top: 0;
        left: 5px;
        width: 5px !important;
        height: 10px !important;
        border: solid #ff8c00;
        border-width: 0 3px 3px 0 !important;
        -webkit-transform: rotate(45deg) !important;
        -ms-transform: rotate(45deg) !important;
        transform: rotate(45deg) !important;
        background: #fff !important;
        box-sizing: unset !important;
        border-radius: unset !important;
      }
    }
  }
}

.fl-container {
  width: 1050px;
  margin: 0 auto;
}

/* Background (S) */
.fl-bg-white {
  background-color: #ffffff;
}

.fl-h\:bg-primary:hover {
  background-color: var(--fl-primary) !important;
}
/* Background (E) */

/* Border (S) */
.fl-bt {
  border-top-width: 1px;
  border-top-style: solid;
}
.fl-bb {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.fl-bbs-dotted {
  border-bottom-style: dotted;
}
.fl-bc-gray-500 {
  border-color: var(--fl-gray-500);
}
.fl-bar4 {
  border-radius: 4px;
}

.fl-bar8 {
  border-radius: 8px;
}
/* Border (E) */

/* Color */
.fl-fc-white {
  color: #fff;
}

.fl-h\:fc-white:hover {
  color: #fff !important;
  .--chevron-down {
    filter: $filter-white;
  }
}

.fl-fc-gray {
  color: var(--fl-gray);
}

.fl-fc-gray-100 {
  color: var(--fl-gray-100);
}

.fl-fc-red {
  color: var(--fl-red);
}

.fl-fc-primary {
  color: var(--fl-primary);
}

.fl-fc-black {
  color: var(--fl-black);
}

/* Display (S) */
.d-flex {
  display: flex;
}

.flex--center {
  align-items: center;
  justify-content: center;
}

.flex--ai-start {
  align-items: start;
}

.flex--ai-center {
  align-items: center;
}

.flex--ai-baseline {
  align-items: baseline;
}

.flex--jc-center {
  justify-content: center;
}

.flex--jc-end {
  justify-content: end;
}
.flex--space-between {
  justify-content: space-between;
}

.fl-fd-column {
  flex-direction: column;
}
/* Display (E) */

/* Font */
.fl-fs12 {
  font-size: 12px;
}

.fl-fs14 {
  font-size: 14px;
}

.fl-fs16 {
  font-size: 16px;
}

.fl-fs18 {
  font-size: 18px;
}

.fl-fs20 {
  font-size: 20px;
}

.fl-fw-medium {
  font-weight: var(--fl-fw-medium) !important;
}

.fl-fw-semibold {
  font-weight: var(--fl-fw-semibold) !important;
}

.fl-fs-italic {
  font-style: italic;
}

/* Filter */
.fl-filter-gray {
  filter: $filter-gray;
}
.fl-filter-gray-100 {
  filter: $filter-gray-100;
}

.fl-filter-primary {
  filter: $filter-primary;
}

/* Layout */
.fl-col-6 {
  width: 50%;
}

.fl-btn-primary {
  background-color: var(--fl-primary);
  border: 0;
  outline: none;
  color: #fff;
}

/* Height */
.fl-h32 {
  height: 32px;
}
.fl-h34 {
  height: 34px;
}
.fl-h48 {
  height: 48px;
}

/* Spacing (S) */
.fl-py6 {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}
.fl-pl15 {
  padding-left: 15px;
}
.fl-pr15 {
  padding-right: 15px;
}
.fl-px16 {
  padding-left: 16px;
  padding-right: 16px;
}
.fl-px18 {
  padding-left: 18px;
  padding-right: 18px;
}
.fl-p20 {
  padding: 20px;
}
.fl-py20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.fl-pt24 {
  padding-top: 24px;
}
.fl-px24 {
  padding-left: 24px;
  padding-right: 24px;
}
.fl-py25 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.fl-px30 {
  padding-left: 30px;
  padding-right: 30px;
}

.fl-mtn9 {
  margin-top: -9px;
}

.fl-mb0 {
  margin-bottom: 0 !important;
}

.fl-mb5 {
  margin-bottom: 5px;
}

.fl-mr8 {
  margin-right: 8px;
}

.fl-mb10 {
  margin-bottom: 10px;
}

.fl-mt12 {
  margin-top: 12px;
}

.fl-mb12 {
  margin-bottom: 12px;
}

.fl-mr14 {
  margin-right: 14px;
}

.fl-mr15 {
  margin-right: 15px;
}

.fl-ml15 {
  margin-left: 15px;
}

.fl-mr16 {
  margin-right: 16px !important;
}

.fl-mb16 {
  margin-bottom: 16px !important;
}

.fl-mb18 {
  margin-bottom: 18px;
}

.fl-mr20 {
  margin-right: 20px;
}

.fl-mb20 {
  margin-bottom: 20px;
}

.fl-mt24 {
  margin-top: 24px !important;
}

.fl-mb24 {
  margin-bottom: 24px !important;
}

.fl-mb25 {
  margin-bottom: 25px;
}

.fl-mt30 {
  margin-top: 30px;
}

.fl-mr30 {
  margin-right: 30px;
}

.fl-mb30 {
  margin-bottom: 30px;
}

.fl-mt60 {
  margin-top: 60px;
}
/* Spacing (E) */

/* Width */
.fl-w18 {
  width: 18px;
}

.fl-w32 {
  width: 32px;
}

.fl-w-fit {
  width: 100%;
}

.fl-card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 25px;
  &__title {
    background-color: var(--fl-primary);
    color: #fff;
    padding: 7px 14px;
    font-weight: var(--fl-fw-medium);
  }
  &__content {
    padding: 14px;
  }
  .radio:not(:last-child) {
    margin-bottom: 20px;
  }
}

.fl-ta-center {
  text-align: center;
}
