:root {
  --fl-primary: #ff8c01;
  --fl-black: #000000;
  --fl-gray: #333333;
  --fl-gray-100: #828282;
  --fl-red: #eb5757;
  --fl-font-stack: 'SVN-Gilroy', Helvetica, sans-serif;
  --fl-background: #f9f9f9;
}
