:root {
  --fl-primary: #ff8c01;
  --fl-black: #000000;
  --fl-gray: #333333;
  --fl-gray-100: #828282;
  --fl-gray-200: #4f4f4f;
  --fl-red: #eb5757;
  --fl-background: #f9f9f9;
  --fl-background: #faf1ec;
  --fl-font-stack: 'SVN-Gilroy', Helvetica, sans-serif;
  --fl-fw-medium: 500;
  --fl-fw-semibold: 600;
  --fl-fw-bold: 700;
}
