:root {
  --fl-primary: #ff8c01;
  --fl-black: #000000;
  --fl-gray: #333333;
  --fl-gray-100: #828282;
  --fl-gray-200: #4f4f4f;
  --fl-gray-500: #e0e0e0;
  --fl-gray-222: #222;
  --fl-gray-666: #666;
  --fl-red: #eb5757;
  --fl-background-f9: #f9f9f9;
  --fl-background: #faf1ec;
  --fl-background-f8: #f8f8f8;
  --fl-d9: #d9d9d9;
  --fl-font-stack: 'SVN-Gilroy', Helvetica, sans-serif;
  --fl-fw-medium: 500;
  --fl-fw-semibold: 600;
  --fl-fw-bold: 700;
}

$box-shadow-1: inset 1px 0px 0px rgba(0, 0, 0, 0.1);
$filter-primary: invert(58%) sepia(9%) saturate(6493%) hue-rotate(359deg)
  brightness(101%) contrast(103%);
$filter-white: invert(100%) sepia(0%) saturate(0%) hue-rotate(153deg)
  brightness(114%) contrast(101%);
$filter-gray-100: invert(59%) sepia(0%) saturate(1298%) hue-rotate(142deg)
  brightness(86%) contrast(90%);
$filter-gray: invert(14%) sepia(0%) saturate(0%) hue-rotate(242deg)
  brightness(89%) contrast(80%);
$border-gray-500: 1px solid var(--fl-gray-500);
