:root {
  --fl-primary: #ff8c01;
  --fl-black: #000000;
  --fl-gray: #333333;
  --fl-gray-100: #828282;
  --fl-gray-200: #4f4f4f;
  --fl-red: #eb5757;
  --fl-background: #f9f9f9;
  --fl-background: #faf1ec;
  --fl-font-stack: "SVN-Gilroy", Helvetica, sans-serif;
  --fl-fw-medium: 500;
  --fl-fw-semibold: 600;
  --fl-fw-bold: 700;
}

@font-face {
  font-family: "SVN-Gilroy";
  font-style: Regular;
  font-weight: 400;
  src: url("../../fonts/SVN-Gilroy-Regular.otf") format("opentype");
}
@font-face {
  font-family: "SVN-Gilroy";
  font-style: Bold;
  font-weight: 700;
  src: url("../../fonts/SVN-Gilroy-Bold.otf") format("opentype");
}
@font-face {
  font-family: "SVN-Gilroy";
  font-style: Medium;
  font-weight: 500;
  src: url("../../fonts/SVN-Gilroy-Medium.otf") format("opentype");
}
@font-face {
  font-family: "SVN-Gilroy";
  font-style: SemiBold;
  font-weight: 600;
  src: url("../../fonts/SVN-Gilroy-SemiBold.otf") format("opentype");
}
html,
body {
  font-size: 14px;
  font-family: var(--fl-font-stack);
  background-color: var(--fl-background);
}

.fl--bg-white {
  background-color: #ffffff;
}

.d-flex--center {
  display: flex;
  align-items: center;
}

.radio {
  margin: 0;
}
.radio__item {
  position: relative;
  padding-left: 35px !important;
  margin-bottom: 0;
  margin-right: 20px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 20px;
  line-height: 22px;
}
.radio__item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  top: 0;
  right: 0;
}
.radio__item input:checked ~ .checkmark {
  background-color: #fff;
  border: 1px solid var(--fl-primary);
}
.radio__item input:checked ~ .checkmark:after {
  display: block;
  background-color: var(--fl-primary);
}
.radio__item:hover input ~ .checkmark {
  background-color: #fff;
}
.radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1) !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1) !important;
}
.radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  transform: translate(-50%, -50%);
}
.radio.checkbox .checkmark {
  border-radius: 2px;
}
.radio.checkbox .checkmark:after {
  top: 0;
  left: 5px;
  width: 5px !important;
  height: 10px !important;
  border: solid #ff8c00;
  border-width: 0 3px 3px 0 !important;
  -webkit-transform: rotate(45deg) !important;
  -ms-transform: rotate(45deg) !important;
  transform: rotate(45deg) !important;
  background: #fff !important;
  box-sizing: unset !important;
  border-radius: unset !important;
}

.fl-container {
  width: 1050px;
  margin: 0 auto;
}

.fl-search-box {
  padding-top: 32px;
}
.fl-search-box .fl-flight-type {
  margin-bottom: 16px;
}
.fl-search-box .fl-flight-type__item {
  font-weight: var(--fl-fw-medium) !important;
}
.fl-search-box .fl-search-form {
  border: 1px solid var(--fl-primary);
  border-radius: 8px;
  padding: 10px 0 8px;
}
.fl-search-box .fl-search-form label {
  color: var(--fl-gray);
  line-height: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}
.fl-search-box .fl-search-form input {
  border: 0;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  color: var(--fl-gray-200);
}
.fl-search-box .fl-search-city {
  width: 41%;
  flex: 1 auto;
  padding: 0 24px;
}
.fl-search-box .fl-search-date,
.fl-search-box .fl-search-passenger {
  width: 30%;
  padding: 0 24px;
  flex: 1 auto;
}

/*# sourceMappingURL=style.css.map */
