/*----------------------------------------------------------------------------- 
  [client] Screen Stylesheet 

  version:   0.1.0 
  date:      20/02/2023
  author:    Nguyen Tu<tu.nguyen@gody.vn>
  website:   https://gody.vn
*/
:root {
  --fl-primary: #ff8c01;
  --fl-black: #000000;
  --fl-gray: #333333;
  --fl-gray-100: #828282;
  --fl-gray-200: #4f4f4f;
  --fl-gray-500: #e0e0e0;
  --fl-gray-222: #222;
  --fl-gray-666: #666;
  --fl-red: #eb5757;
  --fl-background-f9: #f9f9f9;
  --fl-background: #faf1ec;
  --fl-background-f8: #f8f8f8;
  --fl-d9: #d9d9d9;
  --fl-font-stack: "SVN-Gilroy", Helvetica, sans-serif;
  --fl-fw-medium: 500;
  --fl-fw-semibold: 600;
  --fl-fw-bold: 700;
}

@font-face {
  font-family: "SVN-Gilroy";
  font-style: Regular;
  font-weight: 400;
  src: url("../../fonts/SVN-Gilroy-Regular.otf") format("opentype"), url("/flights/fonts/SVN-Gilroy-Regular.otf") format("opentype");
}
@font-face {
  font-family: "SVN-Gilroy";
  font-style: Bold;
  font-weight: 700;
  src: url("../../fonts/SVN-Gilroy-Bold.otf") format("opentype"), url("/flights/fonts/SVN-Gilroy-Bold.otf") format("opentype");
}
@font-face {
  font-family: "SVN-Gilroy";
  font-style: Medium;
  font-weight: 500;
  src: url("../../fonts/SVN-Gilroy-Medium.otf") format("opentype"), url("/flights/fonts/SVN-Gilroy-Medium.otf") format("opentype");
}
@font-face {
  font-family: "SVN-Gilroy";
  font-style: SemiBold;
  font-weight: 600;
  src: url("../../fonts/SVN-Gilroy-SemiBold.otf") format("opentype"), url("/flights/fonts/SVN-Gilroy-SemiBold.otf") format("opentype");
}
.radio {
  margin: 0;
}
.radio__item {
  position: relative;
  padding-left: 35px !important;
  margin-bottom: 0;
  margin-right: 20px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 20px;
  line-height: 22px;
}
.radio__item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  top: 0;
  right: 0;
}
.radio__item input:checked ~ .checkmark {
  background-color: #fff;
  border: 1px solid var(--fl-primary);
}
.radio__item input:checked ~ .checkmark:after {
  display: block;
  background-color: var(--fl-primary);
}
.radio__item:hover input ~ .checkmark {
  background-color: #fff;
}
.radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1) !important;
}
.radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  transform: translate(-50%, -50%);
}
.radio.checkbox .checkmark {
  border-radius: 2px;
}
.radio.checkbox .checkmark:after {
  top: 0;
  left: 5px;
  width: 5px !important;
  height: 10px !important;
  border: solid #ff8c00;
  border-width: 0 3px 3px 0 !important;
  -webkit-transform: rotate(45deg) !important;
  -ms-transform: rotate(45deg) !important;
  transform: rotate(45deg) !important;
  background: #fff !important;
  box-sizing: unset !important;
  border-radius: unset !important;
}

.fl-container {
  width: 1050px;
  margin: 0 auto;
}

/* Background (S) */
.fl-bg-white {
  background-color: #ffffff;
}

.fl-h\:bg-primary:hover {
  background-color: var(--fl-primary) !important;
}

/* Background (E) */
/* Border (S) */
.fl-bt {
  border-top-width: 1px;
  border-top-style: solid;
}

.fl-bb {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.fl-bbs-dotted {
  border-bottom-style: dotted;
}

.fl-bc-gray-500 {
  border-color: var(--fl-gray-500);
}

.fl-bar4 {
  border-radius: 4px;
}

.fl-bar8 {
  border-radius: 8px;
}

/* Border (E) */
/* Color */
.fl-fc-white {
  color: #fff;
}

.fl-h\:fc-white:hover {
  color: #fff !important;
}
.fl-h\:fc-white:hover .--chevron-down {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(153deg) brightness(114%) contrast(101%);
}

.fl-fc-gray {
  color: var(--fl-gray);
}

.fl-fc-gray-100 {
  color: var(--fl-gray-100);
}

.fl-fc-red {
  color: var(--fl-red);
}

.fl-fc-primary {
  color: var(--fl-primary);
}

.fl-fc-black {
  color: var(--fl-black);
}

/* Display (S) */
.d-flex {
  display: flex;
}

.flex--center {
  align-items: center;
  justify-content: center;
}

.flex--ai-start {
  align-items: start;
}

.flex--ai-center {
  align-items: center;
}

.flex--ai-baseline {
  align-items: baseline;
}

.flex--jc-center {
  justify-content: center;
}

.flex--jc-end {
  justify-content: end;
}

.flex--space-between {
  justify-content: space-between;
}

.fl-fd-column {
  flex-direction: column;
}

/* Display (E) */
/* Font */
.fl-fs12 {
  font-size: 12px;
}

.fl-fs14 {
  font-size: 14px;
}

.fl-fs16 {
  font-size: 16px;
}

.fl-fs18 {
  font-size: 18px;
}

.fl-fs20 {
  font-size: 20px;
}

.fl-fw-medium {
  font-weight: var(--fl-fw-medium) !important;
}

.fl-fw-semibold {
  font-weight: var(--fl-fw-semibold) !important;
}

.fl-fs-italic {
  font-style: italic;
}

/* Filter */
.fl-filter-gray {
  filter: invert(14%) sepia(0%) saturate(0%) hue-rotate(242deg) brightness(89%) contrast(80%);
}

.fl-filter-gray-100 {
  filter: invert(59%) sepia(0%) saturate(1298%) hue-rotate(142deg) brightness(86%) contrast(90%);
}

.fl-filter-primary {
  filter: invert(72%) sepia(91%) saturate(4304%) hue-rotate(3deg) brightness(105%) contrast(104%);
}

/* Layout */
.fl-col-6 {
  width: 50%;
}

.fl-btn-primary {
  background-color: var(--fl-primary);
  border: 0;
  outline: none;
  color: #fff;
}

/* Height */
.fl-h32 {
  height: 32px;
}

.fl-h34 {
  height: 34px;
}

.fl-h48 {
  height: 48px;
}

/* Spacing (S) */
.fl-py6 {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.fl-pl15 {
  padding-left: 15px;
}

.fl-pr15 {
  padding-right: 15px;
}

.fl-px16 {
  padding-left: 16px;
  padding-right: 16px;
}

.fl-px18 {
  padding-left: 18px;
  padding-right: 18px;
}

.fl-p20 {
  padding: 20px;
}

.fl-py20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.fl-pt24 {
  padding-top: 24px;
}

.fl-px24 {
  padding-left: 24px;
  padding-right: 24px;
}

.fl-py25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.fl-px30 {
  padding-left: 30px;
  padding-right: 30px;
}

.fl-mtn9 {
  margin-top: -9px;
}

.fl-mb0 {
  margin-bottom: 0 !important;
}

.fl-mb5 {
  margin-bottom: 5px;
}

.fl-mr8 {
  margin-right: 8px;
}

.fl-mb10 {
  margin-bottom: 10px;
}

.fl-mt12 {
  margin-top: 12px;
}

.fl-mb12 {
  margin-bottom: 12px;
}

.fl-mr14 {
  margin-right: 14px;
}

.fl-mr15 {
  margin-right: 15px;
}

.fl-ml15 {
  margin-left: 15px;
}

.fl-mr16 {
  margin-right: 16px !important;
}

.fl-mb16 {
  margin-bottom: 16px !important;
}

.fl-mb18 {
  margin-bottom: 18px;
}

.fl-mr20 {
  margin-right: 20px;
}

.fl-mb20 {
  margin-bottom: 20px;
}

.fl-mt24 {
  margin-top: 24px !important;
}

.fl-mb24 {
  margin-bottom: 24px !important;
}

.fl-mb25 {
  margin-bottom: 25px;
}

.fl-mt30 {
  margin-top: 30px;
}

.fl-mr30 {
  margin-right: 30px;
}

.fl-mb30 {
  margin-bottom: 30px;
}

.fl-mt60 {
  margin-top: 60px;
}

/* Spacing (E) */
/* Width */
.fl-w18 {
  width: 18px;
}

.fl-w32 {
  width: 32px;
}

.fl-w-fit {
  width: 100%;
}

.fl-card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 25px;
}
.fl-card__title {
  background-color: var(--fl-primary);
  color: #fff;
  padding: 7px 14px;
  font-weight: var(--fl-fw-medium);
}
.fl-card__content {
  padding: 14px;
}
.fl-card .radio:not(:last-child) {
  margin-bottom: 20px;
}

.fl-ta-center {
  text-align: center;
}

html,
body {
  font-size: 14px;
  font-family: var(--fl-font-stack);
  background-color: var(--fl-background-f9);
}

.fl-search-box {
  padding: 32px 0;
}
.fl-search-box .fl-flight-type {
  margin-bottom: 16px;
}
.fl-search-box .fl-flight-type__item {
  font-weight: var(--fl-fw-medium) !important;
  font-size: 16px;
}
.fl-search-box .fl-search-form {
  border: 1px solid var(--fl-primary);
  border-radius: 8px;
  padding: 10px 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fl-search-box .fl-search-form label {
  color: var(--fl-gray);
  line-height: 15px;
  font-weight: var(--fl-fw-medium);
  margin-bottom: 10px;
}
.fl-search-box .fl-search-form input {
  border: 0;
  outline: none;
  font-weight: var(--fl-fw-medium);
  font-size: 16px;
  line-height: 18px;
  color: var(--fl-gray-200);
  width: 100%;
}
.fl-search-box .fl-search-city {
  width: 41%;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fl-search-box .fl-search-city__item {
  padding: 0 24px;
  width: calc(50% - 10px);
}
.fl-search-box .fl-search-city__item .dropdown-menu {
  max-height: 350px;
  width: 200%;
  left: 22px;
  border-radius: 8px;
  padding: 0;
  overflow: auto;
}
.fl-search-box .fl-search-city__item .dropdown-menu li {
  padding: 10px 20px 10px 50px;
  position: relative;
  cursor: pointer;
}
.fl-search-box .fl-search-city__item .dropdown-menu li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.fl-search-box .fl-search-city__item .dropdown-menu li:hover {
  background-color: var(--fl-background-f8);
}
.fl-search-box .fl-search-city__item .dropdown-menu li .plane-icon {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 24px;
  height: 24px;
  filter: invert(68%) sepia(0%) saturate(0%) hue-rotate(114deg) brightness(90%) contrast(89%);
  background-image: url(../../images/sprites8-3.png);
  background-position: 159px -148px;
}
.fl-search-box .fl-search-city__item .dropdown-menu li .airport-name {
  margin: 0;
  font-size: 16px;
  color: var(--fl-gray-222);
  display: inline-block;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}
.fl-search-box .fl-search-city__item .dropdown-menu li .airport-country {
  margin: 0;
  font-size: 13px;
  color: var(--fl-gray-666);
  text-transform: capitalize;
}
.fl-search-box .fl-search-date,
.fl-search-box .fl-search-passenger {
  width: 30%;
  flex: 1 1 auto;
}
.fl-search-box .fl-search-passenger {
  padding: 0 24px;
  box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.1);
}
.fl-search-box .fl-search-passenger .dropdown-menu {
  max-height: 350px;
  width: 120%;
  left: auto;
  right: 0;
  border-radius: 8px;
  padding: 0;
  overflow: auto;
}
.fl-search-box .fl-search-passenger .psg-counter {
  padding: 20px;
}
.fl-search-box .fl-search-passenger .psg-counter .counter-label img {
  width: 30px;
  height: 30px;
  margin-right: 12px;
}
.fl-search-box .fl-search-passenger .psg-counter .counter-label label {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: var(--fl-fw-medium);
  line-height: 1.15384615;
}
.fl-search-box .fl-search-passenger .psg-counter .counter-label p {
  margin: 0;
  font-size: 14px;
  color: var(--fl-gray-666);
}
.fl-search-box .fl-search-passenger .psg-counter .stepper-counter button {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1), 0px 4px 4px 0 rgba(102, 102, 102, 0.2) !important;
  outline: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 0;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.fl-search-box .fl-search-passenger .psg-counter .stepper-counter button img {
  width: 16px;
}
.fl-search-box .fl-search-passenger .psg-counter .stepper-counter .stepper-num {
  font-size: 16px;
  margin: 0 18px;
  padding-top: 8px;
}
.fl-search-box .fl-search-date__item {
  width: 50%;
  padding: 0 24px;
  box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.1);
}
.fl-search-box .fl-search-btn {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fl-search-box .fl-search-btn .radio__item {
  font-size: 16px;
}
.fl-search-box .fl-search-btn button {
  background-color: var(--fl-primary);
  color: #fff;
  font-weight: var(--fl-fw-medium);
  height: 48px;
  text-align: center;
  border-radius: 8px;
  padding: 0 50px;
  font-size: 16px;
  border: 0;
}

.fl-main {
  margin-top: 30px;
}

.fl-search-page .fl-sidebar {
  width: 240px;
}
.fl-search-page .fl-flights {
  margin-bottom: 60px;
}
.fl-search-page .fl-flights .fl-flight-header {
  color: var(--fl-gray);
  margin-bottom: 24px;
}
.fl-search-page .fl-flights .fl-flight-header p {
  font-size: 26px;
  font-weight: var(--fl-fw-semibold);
  line-height: 27px;
  margin-bottom: 14px;
}
.fl-search-page .fl-flights .fl-flight-header span {
  font-size: 20px;
  line-height: 21px;
}
.fl-search-page .fl-flights .fl-date {
  margin-bottom: 25px;
}
.fl-search-page .fl-flights .fl-date > div {
  background-color: var(--fl-background);
  border-radius: 8px;
}
.fl-search-page .fl-flights .fl-date .date-list {
  flex: 1 1 auto;
  padding: 10px 0;
}
.fl-search-page .fl-flights .fl-date .date-item {
  box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.1);
  padding: 8px 12px;
  text-align: center;
}
.fl-search-page .fl-flights .fl-date .date-item .date {
  color: var(--fl-gray);
  line-height: 15px;
  margin-bottom: 10px;
  white-space: nowrap;
  font-weight: var(--fl-fw-medium);
}
.fl-search-page .fl-flights .fl-date .date-item .price {
  color: var(--fl-primary);
  line-height: 15px;
  margin-bottom: 0;
  font-weight: var(--fl-fw-semibold);
}
.fl-search-page .fl-flights .fl-date .date-arrow {
  padding: 0 22px;
}
.fl-search-page .fl-flights .fl-date .date-arrow button {
  background-color: var(--fl-primary);
  border: 0;
  border-radius: 100%;
  width: 22px;
  height: 22px;
  padding: 0;
}
.fl-search-page .fl-flights .fl-date .date-arrow button img {
  width: 16px;
  height: 100%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(153deg) brightness(114%) contrast(101%);
}
.fl-search-page .fl-flights .fl-date .date-calendar {
  width: 80px;
  margin-left: 20px;
  flex-shrink: 0;
}
.fl-search-page .fl-flights .fl-date .date-calendar img {
  width: 28px;
  height: 28px;
  filter: invert(72%) sepia(91%) saturate(4304%) hue-rotate(3deg) brightness(105%) contrast(104%);
}
.fl-search-page .fl-flights .fl-sort {
  flex-wrap: wrap;
  gap: 16px;
}
.fl-search-page .fl-flights .fl-sort label {
  font-weight: var(--fl-fw-medium);
  margin-bottom: 0;
}
.fl-search-page .fl-flights .fl-sort button {
  border: 0;
  padding-left: 18px;
  padding-right: 18px;
}
.fl-search-page .fl-flights .fl-sort .dropdown-menu {
  width: 100%;
  border-radius: 8px;
}
.fl-search-page .fl-flight-info-wrap {
  background: #fff;
  border: 1px solid var(--fl-gray-500);
}
.fl-search-page .fl-flight-info-wrap:first-child {
  border-radius: 8px 8px 0 0;
}
.fl-search-page .fl-flight-info-wrap:not(:last-child) {
  border-bottom: 0;
}
.fl-search-page .fl-flight-info-wrap .fl-flight-info-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}
.fl-search-page .fl-flight-info-wrap .flight-info-airline {
  display: flex;
  align-items: center;
}
.fl-search-page .fl-flight-info-wrap .flight-info-airline .airline-logo {
  height: 32px;
  width: 32px;
  margin-right: 14px;
  border-radius: 4px;
}
.fl-search-page .fl-flight-info-wrap .flight-info-stop {
  position: relative;
}
.fl-search-page .fl-flight-info-wrap .flight-info-stop .flight-info-airline__timer {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: var(--fl-fw-semibold);
  color: var(--fl-gray);
}
.fl-search-page .fl-flight-info-wrap .flight-info-stop .flight-info-stop__line {
  margin: 0 11px;
  width: 71.5px;
  height: 0px;
  border: 1px solid var(--fl-gray-500);
  margin-top: -9px;
  position: relative;
}
.fl-search-page .fl-flight-info-wrap .flight-info-stop .flight-info-stop__line:after {
  content: "";
  display: block;
  border-top: 2px solid var(--fl-gray-500);
  position: absolute;
  right: 2px;
  bottom: -7px;
  height: 12px;
  width: 12px;
  transform: rotate(32deg);
}
.fl-search-page .fl-flight-info-wrap .flight-info-stop .flight-info-duration {
  display: none;
}
.fl-search-page .fl-flight-info-wrap .flight-info-duration {
  display: flex;
  justify-content: center;
  align-items: start;
}
.fl-search-page .fl-flight-info-wrap .flight-info-duration__clock {
  filter: invert(59%) sepia(0%) saturate(1298%) hue-rotate(142deg) brightness(86%) contrast(90%);
  width: 18px;
  margin-top: 2px;
  margin-right: 5px;
}
.fl-search-page .fl-flight-info-wrap .flight-info-duration__timer {
  font-size: 18px;
  color: var(--fl-gray-100);
}
.fl-search-page .fl-flight-info-wrap .btn-flight-info {
  font-size: 12px;
  color: var(--fl-primary);
  padding: 0;
  box-shadow: none;
}
.fl-search-page .fl-flight-info-wrap .btn-flight-info img {
  filter: invert(72%) sepia(91%) saturate(4304%) hue-rotate(3deg) brightness(105%) contrast(104%);
  margin-left: 3px;
  width: 14px;
}
.fl-search-page .fl-flight-info-wrap .flight-info-price {
  font-size: 20px;
  color: var(--fl-red);
  font-weight: var(--fl-fw-semibold);
  margin-right: 20px;
}
.fl-search-page .fl-flight-info-wrap .flight-info-details {
  border-top: 1px solid var(--fl-gray-500);
  padding: 0 30px;
}
.fl-search-page .fl-flight-info-wrap .flight-info-details .flight-info-stop {
  margin-right: 20px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.fl-search-page .fl-flight-info-wrap .flight-info-details .--date-timer {
  display: flex;
  align-items: center;
}
.fl-search-page .fl-flight-info-wrap .flight-info-details .flight-info-airline__date {
  font-size: 14px;
  color: var(--fl-gray-100);
}
.fl-search-page .fl-flight-info-wrap .flight-info-details .flight-info-airline__date.--mobile {
  display: none;
}
.fl-search-page .fl-flight-info-wrap .flight-info-details .flight-info-airline__timer {
  font-size: 16px;
  font-weight: var(--fl-fw-semibold);
}
.fl-search-page .fl-flight-info-wrap .flight-info-details .flight-info-duration {
  margin: 6px 0;
  display: flex;
  justify-content: end;
}
.fl-search-page .fl-flight-info-wrap .flight-info-details .flight-info-duration__clock {
  width: 16px;
}
.fl-search-page .fl-flight-info-wrap .flight-info-details .flight-info-duration__timer {
  font-size: 16px;
}
.fl-search-page .fl-flight-info-wrap .flight-info-details .airline-logo {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}
.fl-search-page .fl-flight-info-wrap .flight-info-details .flight-info-stop__code {
  font-weight: var(--fl-fw-medium);
}
.fl-search-page .fl-flight-info-wrap .flight-info-details .flight-info-stop__line {
  border: 1px solid var(--fl-gray-500);
  margin: 10px 20px 10px 0;
  position: relative;
}
.fl-search-page .fl-flight-info-wrap .flight-info-details .flight-info-stop__line:after, .fl-search-page .fl-flight-info-wrap .flight-info-details .flight-info-stop__line:before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: var(--fl-d9);
  position: absolute;
  left: -3px;
}
.fl-search-page .fl-flight-info-wrap .flight-info-details .flight-info-stop__line:before {
  top: -3px;
}
.fl-search-page .fl-flight-info-wrap .flight-info-details .flight-info-stop__line:after {
  bottom: -3px;
}
.fl-search-page .fl-flight-info-wrap .flight-info-details .flight-info-city {
  display: block;
}
.fl-search-page .fl-flight-info-wrap .flight-info-details .flight-info-city > div {
  display: flex;
  gap: 20px;
}
.fl-search-page .fl-flight-info-wrap .flight-info-details ul {
  margin-top: 12px;
  margin-bottom: 0;
  padding-left: 16px;
}
.fl-search-page .fl-flight-info-wrap .flight-info-details ul li {
  margin-bottom: 5px;
}
.fl-search-page .fl-flight-info-wrap .flight-info-details .--price-table {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid var(--fl-gray-500);
  gap: 10px;
}

.fl-checkout-page .fl-primary {
  padding-left: 0;
}
.fl-checkout-page .fl-sidebar {
  width: 330px;
  flex-shrink: 0;
  border: 1px solid var(--fl-gray-500);
}
.fl-checkout-page .fl-sidebar .city-wrap .city-name {
  color: var(--fl-primary);
  font-size: 16px;
  font-weight: var(--fl-fw-medium);
  line-height: 17px;
}
.fl-checkout-page .fl-sidebar .city-wrap .roundtrip-arrow {
  border: 1px solid var(--fl-gray-500);
  border-left-color: transparent;
  border-right-color: transparent;
  position: relative;
  height: 10px;
  width: 42px;
  margin: 0 12px;
}
.fl-checkout-page .fl-sidebar .city-wrap .roundtrip-arrow:before {
  content: "";
  display: block;
  border-top: 1px solid var(--fl-gray-500);
  position: absolute;
  right: 2px;
  top: -4px;
  height: 12px;
  width: 8px;
  transform: rotate(30deg);
}
.fl-checkout-page .fl-sidebar .city-wrap .roundtrip-arrow:after {
  content: "";
  display: block;
  border-top: 1px solid var(--fl-gray-500);
  position: absolute;
  left: -4px;
  bottom: -13px;
  height: 12px;
  width: 8px;
  transform: rotate(-330deg);
}
.fl-checkout-page .fl-sidebar .flight-info-airline__date {
  color: var(--fl-gray);
  font-size: 18px;
  line-height: 19px;
  font-weight: var(--fl-fw-semibold);
  margin-bottom: 8px;
}
.fl-checkout-page .fl-sidebar .flight-info-airline__timer {
  color: var(--fl-gray);
  font-size: 20px;
  font-weight: var(--fl-fw-semibold);
  line-height: 140%;
}
.fl-checkout-page .fl-sidebar .flight-info-airline .airline-logo {
  height: 36px;
  width: 36px;
  border-radius: 4px;
  margin-right: 18px;
}
.fl-checkout-page .fl-sidebar .flight-info-airline .airline-info {
  margin-left: 8px;
}
.fl-checkout-page .fl-sidebar .flight-info-airline .flight-info-duration {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fl-checkout-page .fl-sidebar .flight-info-airline .flight-info-duration__clock {
  width: 18px;
  filter: invert(59%) sepia(0%) saturate(1298%) hue-rotate(142deg) brightness(86%) contrast(90%);
  margin-top: -4px;
  margin-right: 5px;
}
.fl-checkout-page .fl-sidebar .flight-info-airline .flight-info-duration__timer {
  font-size: 18px;
  color: var(--fl-gray-100);
}
.fl-checkout-page .fl-sidebar .flight-info-airline .brand-amenity-value__icon {
  width: 18px;
  margin-right: 7px;
}
.fl-checkout-page .fl-sidebar .flight-info-airline .brand-amenity-value .--item:not(:last-child) {
  margin-bottom: 10px;
}
.fl-checkout-page .fl-sidebar .flight-price .--title {
  color: var(--fl-gray);
  font-size: 18px;
  line-height: 19px;
  font-weight: var(--fl-fw-medium);
  margin-bottom: 14px;
}
.fl-checkout-page .fl-sidebar .flight-price .--label {
  color: var(--fl-gray-100);
  font-size: 16px;
  line-height: 17px;
  margin-bottom: 14px;
}
.fl-checkout-page .fl-sidebar .flight-price .--value {
  color: var(--fl-gray);
  font-size: 16px;
  line-height: 17px;
  font-weight: var(--fl-fw-medium);
}
.fl-checkout-page .fl-sidebar .price-summary {
  padding: 24px 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fl-checkout-page .fl-sidebar .price-summary .--label {
  color: var(--fl-gray-100);
  font-size: 16px;
  font-weight: var(--fl-fw-medium);
  line-height: 17px;
}
.fl-checkout-page .fl-sidebar .price-summary .--value {
  color: var(--fl-primary);
  font-size: 16px;
  font-weight: var(--fl-fw-semibold);
  line-height: 17px;
}
.fl-checkout-page .fl-checkout-title {
  font-size: 36px;
  color: var(--fl-gray);
  line-height: 38px;
  font-weight: var(--fl-fw-semibold);
  margin-bottom: 24px;
}
.fl-checkout-page .fl-checkout-card {
  padding: 22px 24px;
  border: 1px solid var(--fl-gray-500);
  margin-bottom: 30px;
}
.fl-checkout-page .fl-checkout-card__header {
  padding: 0 0 8px;
  border-bottom: 1px solid var(--fl-gray-500);
}
.fl-checkout-page .fl-checkout-card__header .--title {
  font-size: 24px;
  color: var(--fl-gray);
  line-height: 25px;
  font-weight: var(--fl-fw-semibold);
}
.fl-checkout-page .payment-content ul li {
  margin-top: 8px;
}

.fl-primary {
  flex: 1 1 auto;
  padding-left: 30px;
}

.fl-form-group {
  margin-bottom: 16px;
}
.fl-form-group label {
  color: var(--fl-gray-100);
  font-size: 16px;
  line-height: 17px;
  margin-bottom: 8px;
  display: block;
  font-weight: normal;
}
.fl-form-group .fl-form-control {
  color: var(--fl-gray-200);
  font-size: 16px;
  height: 48px;
  border: 1px solid var(--fl-gray-500);
  border-radius: 8px;
  display: block;
  outline: none;
  padding: 0 14px;
}
.fl-form-group .fl-form-control.--w-fit {
  width: 100%;
}
.fl-form-group .fl-form-control.--appearance-none {
  appearance: none;
}

.fl-dropdown .--chevron-down {
  margin-top: -2px;
  transition: all 0.2s;
}
.fl-dropdown.open .--chevron-down, .fl-dropdown[aria-expanded=true] .--chevron-down {
  transform: rotate(180deg);
}

.fl-select-custom {
  position: relative;
}
.fl-select-custom .fl-form-control {
  position: relative;
  background: transparent;
}
.fl-select-custom label {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 12px;
  cursor: pointer;
  z-index: 0;
}

.airline-name {
  color: var(--fl-black);
  margin-bottom: 0;
  font-size: 14px;
  font-weight: var(--fl-fw-medium);
}

.airline-info {
  margin-bottom: 0;
  font-size: 12px;
  color: var(--fl-gray-100);
}

.flight-info-stop__code {
  margin-bottom: 0;
  font-size: 16px;
  color: var(--fl-gray-100);
}

.oneway-arrow {
  margin: 0 11px;
  width: 71.5px;
  height: 0px;
  border: 1px solid var(--fl-gray-500);
  position: relative;
}
.oneway-arrow:after {
  content: "";
  display: block;
  border-top: 2px solid var(--fl-gray-500);
  position: absolute;
  right: 2px;
  bottom: -7px;
  height: 12px;
  width: 12px;
  transform: rotate(32deg);
}
.oneway-arrow.reverse:after {
  left: 2px;
  transform: rotate(328deg);
}

.voucher-input-wrapper {
  background-color: var(--fl-background);
  padding: 20px;
}
.voucher-input-wrapper .--title {
  color: var(--fl-primary);
  font-size: 16px;
  line-height: 17px;
  font-weight: var(--fl-fw-medium);
  margin-bottom: 8px;
}
.voucher-input-wrapper input {
  background-color: #fff;
  border: 1px solid var(--fl-gray-500);
  border-radius: 8px;
  height: 36px;
  padding: 0 12px;
  margin-right: 12px;
  box-shadow: none;
  outline: none;
  flex: 1;
}
.voucher-input-wrapper button {
  background-color: var(--fl-primary);
  color: #fff;
  height: 36px;
  border: 0;
  padding: 0 30px;
  border-radius: 8px;
}

.fl-flight-baggage .--title {
  width: 125px;
  margin-bottom: 0;
}
.fl-flight-baggage .--item-wrap {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.fl-flight-baggage .--item {
  border-radius: 4px;
  border: 1px solid var(--fl-gray-500);
  height: 32px;
  padding: 6px 10px 8px 28px !important;
  margin: 0;
  color: var(--fl-gray-100);
  font-size: 14px;
}
.fl-flight-baggage .--item .checkmark {
  width: 14px;
  height: 14px;
  top: 8px;
  left: 8px;
}
.fl-flight-baggage .--item .checkmark:after {
  width: 5px;
  height: 5px;
}
.fl-flight-baggage .--item:has(input:checked) {
  color: #fff;
  background-color: var(--fl-primary);
  border-color: var(--fl-primary);
}

@media (max-width: 768px) {
  .fl-container {
    width: 100%;
  }
  .fl-main-content {
    display: block;
  }
  .fl-search-box {
    padding: 32px 20px 24px;
  }
  .fl-search-box .fl-search-form {
    border: 0;
    display: block;
    padding: 0;
  }
  .fl-search-box .fl-search-form label {
    margin-bottom: 11px;
  }
  .fl-search-box .fl-search-form input {
    padding: 0;
  }
  .fl-search-box .fl-search-city {
    display: block;
    width: 100%;
  }
  .fl-search-box .fl-search-city__item {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid var(--fl-primary);
    border-radius: 8px;
  }
  .fl-search-box .fl-search-city__item .dropdown-menu {
    left: 0;
    width: 100%;
  }
  .fl-search-box .fl-search-city__arrow-roundtrip {
    height: 8px;
  }
  .fl-search-box .fl-search-city__arrow-roundtrip img {
    opacity: 0;
  }
  .fl-search-box .fl-search-date,
  .fl-search-box .fl-search-passenger {
    width: 100%;
    margin-top: 8px;
  }
  .fl-search-box .fl-search-date {
    border: 1px solid var(--fl-primary);
    border-radius: 8px;
    padding: 10px 0;
  }
  .fl-search-box .fl-search-date__item {
    padding: 0 20px;
  }
  .fl-search-box .fl-search-date__item:first-child {
    box-shadow: none;
  }
  .fl-search-box .fl-search-passenger {
    padding: 10px 20px;
    box-shadow: none;
    border: 1px solid var(--fl-primary);
    border-radius: 8px;
  }
  .fl-search-box .fl-search-passenger .dropdown-menu {
    width: 100%;
    left: 0;
  }
  .fl-search-box .fl-search-btn {
    display: block;
  }
  .fl-search-box .fl-search-btn .radio {
    margin: 22px 0;
  }
  .fl-search-box .fl-search-btn button {
    width: 100%;
  }
  .fl-search-page .fl-sidebar {
    width: 100%;
    padding: 0 20px;
    display: none;
  }
  .fl-search-page .fl-primary {
    padding: 0;
  }
  .fl-search-page .fl-flights .fl-flight-header {
    padding: 0 20px;
  }
  .fl-search-page .fl-flights .fl-date {
    width: 100%;
    overflow-y: auto;
    padding: 0 20px;
    flex-direction: row-reverse;
    margin-bottom: 20px;
  }
  .fl-search-page .fl-flights .fl-date .date-calendar {
    margin-left: 0;
    margin-right: 10px;
    width: 56px;
  }
  .fl-search-page .fl-flights .fl-date .date-list {
    padding: 6px 0;
  }
  .fl-search-page .fl-flights .fl-sort {
    padding: 0 20px;
    gap: 12px;
  }
  .fl-search-page .fl-flights .fl-sort button {
    padding-left: 12px;
    padding-right: 12px;
  }
  .fl-search-page .fl-flights .fl-flight-info-wrap {
    border-radius: 0;
  }
  .fl-search-page .fl-flights .fl-flight-info-wrap .fl-flight-info-content {
    grid-gap: 12px;
    padding: 16px 20px;
    grid-template-areas: "item2 item2 item4 item4" "item1 item1 item3 item3";
  }
  .fl-search-page .fl-flights .fl-flight-info-wrap .fl-flight-info-content .--g-item1 {
    grid-area: item1;
  }
  .fl-search-page .fl-flights .fl-flight-info-wrap .fl-flight-info-content .--g-item2 {
    grid-area: item2;
  }
  .fl-search-page .fl-flights .fl-flight-info-wrap .fl-flight-info-content .--g-item3 {
    grid-area: item3;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .fl-search-page .fl-flights .fl-flight-info-wrap .fl-flight-info-content .--g-item4 {
    grid-area: item4;
    display: block;
    text-align: right;
  }
  .fl-search-page .fl-flights .fl-flight-info-wrap .flight-info-duration {
    display: none;
  }
  .fl-search-page .fl-flights .fl-flight-info-wrap .flight-info-stop .flight-info-stop__line {
    margin-top: 20px;
  }
  .fl-search-page .fl-flights .fl-flight-info-wrap .flight-info-stop .flight-info-duration {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: start;
  }
  .fl-search-page .fl-flights .fl-flight-info-wrap .flight-info-stop .flight-info-duration .flight-info-duration__clock {
    margin-top: 0;
  }
  .fl-search-page .fl-flights .fl-flight-info-wrap .flight-info-price {
    margin-right: 0;
    margin-bottom: 4px;
  }
  .fl-search-page .fl-flights .fl-flight-info-wrap .flight-info-details {
    padding: 0 20px;
  }
  .fl-search-page .fl-flights .fl-flight-info-wrap .flight-info-details .--date-timer {
    flex-direction: column-reverse;
    align-items: start;
  }
  .fl-search-page .fl-flights .fl-flight-info-wrap .flight-info-details .flight-info-airline__date {
    display: none;
  }
  .fl-search-page .fl-flights .fl-flight-info-wrap .flight-info-details .flight-info-airline__date.--mobile {
    display: block;
    white-space: nowrap;
  }
  .fl-search-page .fl-flights .fl-flight-info-wrap .flight-info-details .flight-info-city > div {
    display: block;
  }
  .fl-checkout-page .fl-main-content {
    padding: 0 20px;
    margin-bottom: 30px;
  }
  .fl-checkout-page .fl-primary {
    margin: 0;
  }
  .fl-checkout-page .fl-sidebar {
    margin: 0;
    width: 100%;
  }
  .fl-checkout-page .fl-form-group {
    padding: 0;
    display: block;
  }
  .fl-checkout-page .fl-form-group .--m-w-fit {
    width: 100%;
    padding: 0;
    margin-bottom: 16px;
  }
  .fl-checkout-page .fl-checkout-title {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .fl-checkout-page .fl-checkout-card {
    padding: 20px;
    margin-bottom: 20px;
  }
  .fl-checkout-page .fl-checkout-card .fl-form-group,
  .fl-checkout-page .fl-checkout-card .fl-form-control {
    width: 100%;
  }
  .fl-checkout-page .fl-checkout-card__header .--title {
    font-size: 18px;
  }
  .fl-checkout-page .fl-checkout-card__header button {
    font-size: 14px;
    padding: 0 12px;
    height: 30px;
  }
  .fl-checkout-page .fl-flight-baggage {
    display: block;
  }
  .fl-checkout-page .fl-flight-baggage .--title {
    margin-bottom: 16px;
  }
  .fl-checkout-page .fl-flight-baggage .--item {
    padding: 6px 8px 8px 28px !important;
  }
}

/*# sourceMappingURL=style.css.map */
